.hypalink-list-visible {
    display: inline-block;
}

.hypalink-list-hidden {
    display: none;
}

.hypalink-popover {
    position: absolute;
    z-index: 10000;
    border-radius: 1.5rem;
    background-color: white;
    border: 1px solid #efefef;
    color: black;
    display: flex;
    gap: 2px;
    padding: 2px;
    width: fit-content;
}

.hypalink-popover button {
    border: none;
    background-color: #efefef;
    color: black;
    padding: 7px 15px;
    border-radius: inherit;
    cursor: pointer;
}

.hypalink-popover button:hover {
    background-color: #e9f1f9;
}